<div class="error-container__div">
    <p class="error-container-error-status__p">
        {{errorStatus}}
    </p>
    <p class="error-container-error-text__p">
        {{errorText}}
    </p>
</div>
